.eph-settings-component {
  padding: 20px;
  max-width: 1400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}
.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.button-container img {
  height: 17px;
  width: 17px;
}
.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  gap: 35px;
  height: auto;
}
.eph-settings-form-container h3, .settings-form-container h3, .user-eph-settings h3 {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}
.eph-settings-form-container p {
  margin: 1rem 0 0 0;
}
.eph-range-container, .eph-prefix-suffix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.delivery-fee, .payment-fee {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.field p {
  margin: 0;
}
.field:nth-child(1) {
  margin-bottom: 15px;
}
.user-eph-settings {
  display: flex;
  justify-content: flex-start;
  align-items: top;
  flex-direction: column;
  gap: 5px;
}
.user-eph-settings p {
  margin: 0;
}
.eph-prefix-suffix-container {
  margin-bottom: 15px;
}
.eph-prefix, .eph-suffix {
  width: 50%;
}
.eph-range-container label {
  margin: 0;
}
.eph-range-container .form-control {
  width: 50%;
}
.info-text {
  padding-left: 8px;
}
.warning-text {
  color: red;
  font-weight: bold;
  background-color: #fee2e2; 
  padding: 4px 8px;
  border-radius: 4px;
}
.form-control.is-invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
.form-control.ng-invalid.ng-touched {
  border-color: red;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
.form-control.ng-valid:not(:placeholder-shown) {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}