<title>Prihlásenie</title>
<div class="login-component">
  <form class="login-form" [formGroup]="loginForm">
    <h1>Prihlásiť sa</h1>
    <div class="field">
      <label>E-mailová adresa</label><br>
      <input type="email" placeholder="Enter your email" formControlName="email">
    </div>
    <div class="field">
      <label>Heslo</label><br>
      <input type="password" placeholder="Enter your password" formControlName="password">
    </div>
    <div [ngClass]="isLogging ? 'isLogging' : 'notLogging'" class="information">
      <p>Prihlasuje sa, prosím čakajte...</p>
    </div>
    <div class="submit">
      <button class="btn btn-secondary" (click)="login()">Potvrdiť</button>
    </div>
  </form>
</div>