<title>Detaily objednávky č. {{orderId}}</title>
<div class="order-details-component">
    <div class="title">
        <div class="title-container-1">
          <h1>Objednávka č. {{orderId}}</h1>
          <p>{{currentDate}}</p>
        </div>
        <div class="button-container">
          <button class="btn btn-secondary remove-btn" (click)="removeOrder(confirmDialog)"><img src="../../assets/Images/bin-icon.png" class="remove-btn-icon">Vymazať objednávku</button>
          <button class="btn btn-primary" (click)="editOrder()">Upraviť objednávku</button>
        </div>
    </div>
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
    </div>
    }@else{
      <div class="details-container">
        <table class="order-table">
          <tr>
            <th colspan="2" class="main-title">Informácie objednávky</th>
          </tr>
          <tr>
            <td><b>Meno a priezvisko:</b></td>
            <td>{{order?.customerName}}</td>
          </tr>
          <tr>
            <td><b>Spoločnosť:</b></td>
            <td>{{ order?.company ? order.company : 'Nezadané' }}</td>
          </tr>
          <tr>
            <td><b>IČO:</b></td>
            <td>{{ order?.ico ? order.ico : 'Nezadané'}}</td>
          </tr>
          <tr>
            <td><b>DIČ:</b></td>
            <td>{{ order?.dic ? order.dic: 'Nezadané'}}</td>
          </tr>
          <tr>
            <td><b>IČ DPH:</b></td>
            <td>{{ order?.icDph ? order.icDph : 'Nezadané' }}</td>
          </tr>
          <tr>
            <td><b>Adresa:</b></td>
            <td>{{ order?.address }}, {{ order?.city }}, {{ order?.postalCode }}</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td>{{ order?.email }}</td>
          </tr>
          <tr>
            <td><b>Telefón:</b></td>
            <td>{{ order?.phoneNumber }}</td>
          </tr>
          <tr>
            <td><b>Spôsob dopravy:</b></td>
            <td>{{ order?.deliveryOption }}</td>
          </tr>
          <tr>
            <td><b>Spôsob platby:</b></td>
            <td>{{ order?.paymentOption }}</td>
          </tr>
          <tr>
            <td><b>Stav objednávky:</b></td>
            <td>{{ order?.orderStatus }}</td>
          </tr>
          <tr>
            <td><b>Dátum objednávky:</b></td>
            <td>{{ order?.orderDate }}</td>
          </tr>
          <tr>
            <td><b>Celková hmotnosť:</b></td>
            <td>{{calculateTotalAmount()}} ks</td>
          </tr>
          <tr>
            <td><b>Celkový počet produktov:</b></td>
            <td>{{calculateTotalWeight()}} kg</td>
          </tr>
          <tr>
            <td><b>Zľava:</b></td>
            <td>{{order?.discountAmount > 0 ? 'Áno (-' + order?.discountAmount + '%)' : 'Nie'}}</td>
          </tr>
          <tr>
            <td><b>Poznámka:</b></td>
            <td>{{ order?.note ? order.note : 'Nezadané' }}</td>
          </tr>
        </table>
        <div class="products-information">
          <table class="selected-products-table">
            <thead>
               <tr>
                 <th colspan="6" class="main-title">Objednané produkty</th>
               </tr>
            </thead>
            <tbody>
                <tr class="products-table-title">
                    <th>Názov produktu</th>
                    <th>Cena/ks</th>
                    <th>Hmotnosť</th>
                    <th>Množstvo</th>
                    <th>Celkom (€)</th>
                    <th>Celkom (kg)</th>
                </tr>
                <tr class="product-row" *ngFor="let product of selectedProducts">
                    <td>{{product.productName}}</td>
                    <td>{{product.productPrice}}€</td>
                    <td>{{product.productWeight}} kg</td>
                    <td>{{product.productAmount}} ks</td>
                    <td>{{product.productPrice * product.productAmount}}€</td>
                    <td>{{product.productWeight * product.productAmount}} kg</td>
                </tr>
            </tbody>
            <tfoot>
              <tr class="total-row">
                  <td colspan="3"><strong>Celkovo</strong></td>
                  <td><strong>{{calculateTotalAmount()}} ks</strong></td>
                  <td><strong>{{this.order.discountAmount ? ((this.order.totalPrice - (this.order.totalPrice * this.order?.discountAmount / 100)).toFixed(2) + '€ (-' + this.order.discountAmount + '%)') : (this.order.totalPrice.toFixed(2) + '€')}}</strong></td>
                  <td><strong>{{calculateTotalWeight()}} kg</strong></td>
              </tr>
          </tfoot>
        </table>
        </div>
      <div class="total-price-invoice">
        <table class="order-table">
          <tr>
            <th colspan="2" class="main-title">Fakturačné informácie</th>
          </tr>
          <tr>
            <td><b>Medzisúčet:</b></td>
            <td>{{order.totalPrice}}€</td>
          </tr>
          <tr>
            <td><b>Celková cena po zľave:</b></td>
            <td>{{order.totalPrice - (order.totalPrice * order?.discountAmount / 100)}}€ (-{{order?.discountAmount}}%)</td>
          </tr>
          <tr>
            <td><b>Dátum vystavenia faktúry:</b></td>
            <td>{{order.invoiceIssueDate}}</td>
          </tr>
          <tr>
            <td><b>Dátum splatnosti:</b></td>
            <td>{{order.invoiceDueDate}}</td>
          </tr>
          <tr>
            <td><b>Dátum dodania:</b></td>
            <td>{{order.invoiceDeliveryDate}}</td>
          </tr>
          <tr>
            <td><b>Faktúra:</b></td>
            <td><a (click)="getInvoice()" title="Kliknutím stiahnete faktúru objednávky"><img src="../../assets/Images/download-icon.png" alt="download-icon">Prevziať faktúru</a></td>
          </tr>
        </table>
      </div>
      </div>
    }
</div>
<ng-template #confirmDialog>
  <div class="confirm-dialog">
    <h2>Potvrdenie</h2>
    <div class="dialog-text">
      <p>Ste si istý, že chcete vymazať objednávku č. {{orderId}}?</p>
    </div>
    <div class="dialog-buttons">
      <button class="btn btn-secondary" (click)="dialogRef.close(true)">Áno</button>
      <button class="btn btn-primary" (click)="dialogRef.close(false)">Nie</button>
    </div>
  </div>
</ng-template>