.order-details-component {
  padding: 20px;
  max-width: 1400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}
.title-container-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
}
.remove-btn-icon, .return-home-icon {
  height: 17px;
  width: 17px;
}
.edit-icon {
  height: 20px;
  width: 20px;
}
.edit-icon {
  filter: invert(1) brightness(2);
}
.details-container {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.details-container h3 {
  font-size: 20px;
  color: #198754;
  font-weight: bold;
}
.order-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
}
.order-table th, .selected-products-table .main-title{
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: 30%;
  background-color: #198754;
}
.order-table td {
  padding: 9px;
  border-bottom: 1px solid #ddd;
  width: 30%;
}
.order-table tr {
  transition: background-color 0.15s ease;
}
.order-table tr:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}
.main-title {
  cursor: default;
}
.main-title-save-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-title-save-container button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-title-save-container button img {
  height: 17px;
  width: 17px;
}
.products-information, .total-price-invoice{
  margin-top: 5px;
}
.total-price-invoice a {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 500;
}
.total-price-invoice a:hover {
  color: #198754;
}
.total-price-invoice img {
  height: 25px;
  width: 25px;
  margin-bottom: 2.5px;
}
.selected-products-table {
  width: 100%;
  text-wrap: nowrap;
}
.selected-products-table th:not(:first-child){
  text-align: center;
}
.table-container {
  border-radius: 5px;
  overflow: hidden;
  width: 600px;
  border: 1px solid #ccc;
}
.selected-products-table th {
  padding: 12px;
  text-align: left;
  color: black;
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.selected-products-table td {
  padding: 9px;
  text-align: left;
  background-color: white;
  transition: background-color 0.15s ease;
  border-bottom: 1px solid #ccc;
}
.selected-products-table tr td:not(:first-child) {
  text-align: center;
}
.selected-products-table tbody tr:hover td,
.selected-products-table tbody tr:hover th,
.selected-products-table tfoot tr:hover td,
.selected-products-table tfoot tr:hover th {
  background-color: #fbfbfb;
  cursor: pointer;
}
.selected-products-table .product-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.selected-products-table .form-control {
  padding: 2px;
  width: 70px;
}
.confirm-dialog {
  padding: 20px;
  width: 400px;
}
.confirm-dialog h2 {
  margin-bottom: 3px;
}
.dialog-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.dialog-buttons button {
  padding: 5px 12.5px;
}
.spinner-container {
  height: 100px;
}
.return-home {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 10px 0 0 0;
}
.return-home button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.return-home img {
  margin-bottom: 2px;
}
.order-table:nth-child(2), .order-table:nth-child(3){
  margin-top: 15px;
}
/*Pre neplatné polia*/
.form-control.is-invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
.form-control.ng-invalid.ng-touched{
  border-color: red;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
/*Pre platné polia*/
.form-control.ng-valid:not(:placeholder-shown):not([type="search"]):not(select):not(.stock-input):not(.product-code-input) {
  border-color: #198754;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}