.order-details-component {
  padding: 20px;
  max-width: 1400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}
.title-container-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.details-container{
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.details-container h3{
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.customer-info, .other-information, .products-information, .total-summary{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.total-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.total-summary h3{
  width: 100%;
  margin-top: 12.5px;
}
.total-summary-span{
  font-weight: normal;
}
.products-table{
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
}
.products-table th,
.products-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}
.products-table th {
  background-color: #f9f9f9;
  font-weight: bold;
  color: #333;
}
.products-table td {
  background-color: #fff;
}
.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.product-row:hover td{
  background-color: #fbfbfb;
  cursor: pointer;
}
.confirm-dialog{
  padding: 20px;
  width: 400px;
}
.dialog h2{
  margin-bottom: 5px;
}
.dialog-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.dialog-buttons button{
  padding: 5px 12.5px;
}