<title>Detaily objednávky č. {{orderId}}</title>
<div class="order-details-component">
    <div class="title">
        <div class="title-container-1">
          <h1>Objednávka č. {{orderId}}</h1>
          <p>{{currentDate}}</p>
        </div>
        <div class="button-container">
          <button class="btn btn-secondary remove-btn" (click)="removeOrder(confirmDialog)"><img src="../../assets/Images/bin-icon.png" class="remove-btn-icon">Vymazať objednávku</button>
          <button class="btn btn-primary" (click)="editOrder()">Upraviť objednávku</button>
        </div>
    </div>
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
    </div>
    }@else{
      <div class="details-container">
        <div class="customer-info">
          <h3>Objednávateľ</h3>
          <p><strong>Meno:</strong> {{ order?.customerName }}</p>
          <p><strong>Spoločnosť:</strong> {{ order?.company ? order.company : 'Nezadané' }}</p>
          <p><strong>IČO (v prípade firmy):</strong> {{ order?.ico ? order.ico : 'Nezadané'}}</p>
          <p><strong>DIČ (v prípade firmy):</strong> {{ order?.dic ? order.dic: 'Nezadané'}}</p>
          <p><strong>IČ DPH (v prípade firmy):</strong> {{ order?.icDph ? order.icDph : 'Nezadané' }}</p>
          <p><strong>Adresa:</strong> {{ order?.address }}, {{ order?.city }}, {{ order?.postalCode }}</p>
          <p><strong>Email:</strong> {{ order?.email }}</p>
          <p><strong>Telefón:</strong> {{ order?.phoneNumber }}</p>
        </div>
        <div class="other-information">
          <h3>Ďaľšie podrobnosti</h3>
          <p><strong>Spôsob dopravy:</strong> {{ order?.deliveryOption }}</p>
          <p><strong>Spôsob platby:</strong> {{ order?.paymentOption }}</p>
          <p><strong>Stav objednávky:</strong> {{ order?.orderStatus }}</p>
          <p><strong>Dátum objednávky:</strong> {{ order?.orderDate }}</p>
          <p><strong>Hmotnosť objednávky: </strong>0kg</p>
          <p><strong>Celkový počet produktov: </strong>0ks</p>
          <p><strong>Zľava:</strong> {{order?.discountAmount > 0 ? 'Áno (-' + order?.discountAmount + '%)' : 'Nie'}}</p>
          <p><strong>Poznámka:</strong> {{ order?.note ? order.note : 'Nezadané' }}</p>
        </div>
        <div class="products-information">
          <h3>Objednané produkty</h3>
          <table class="products-table">
            <thead>
                <tr>
                    <th>Názov produktu</th>
                    <th>Množstvo</th>
                    <th>Cena za kus</th>
                    <th>Celkom</th>
                </tr>
            </thead>
            <tbody>
                <!-- Repeat for each item -->
                <tr class="product-row">
                    <td>nazov-produktu</td>
                    <td>mnozstvo-produktu</td>
                    <td>cena-produktu</td>
                    <td>celkova-cena</td>
                </tr>
            </tbody>
        </table>
        </div>
      <div class="total-price-invoice">
        <h3>Celková suma na zaplatenie a faktúra</h3>
        <p><strong>Medzisúčet: </strong>0€</p>
        <p><strong>Celková cena po zľave: </strong>0€ (-{{order?.discountAmount}}%)</p>
        <p><strong>Faktúra: </strong> <a (click)="getInvoice()" title="Kliknutím stiahnete faktúru objednávky"><img src="../../assets/Images/download-icon.png" alt="download-icon">Prevziať faktúru</a></p>
      </div>
      </div>
    }
</div>
<ng-template #confirmDialog>
  <div class="confirm-dialog">
    <h2>Potvrdenie</h2>
    <div class="dialog-text">
      <p>Ste si istý, že chcete vymazať túto objednávku?</p>
    </div>
    <div class="dialog-buttons">
      <button class="btn btn-secondary" (click)="dialogRef.close(true)">Áno</button>
      <button class="btn btn-primary" (click)="dialogRef.close(false)">Nie</button>
    </div>
  </div>
</ng-template>