<div class="manage-statuses-dialog-component">
    <div class="title-close">
        <h2>Nastavenia stavov objednávky <img src="../../assets/Images/settings-icon.png" alt="settings-icon"></h2>
        <button type="button" class="btn btn-secondary" (click)="closeDialog()">Zavrieť okno</button>
    </div>
    @if(isLoading){
        <div class="spinner-container">
            <div class="spinner"></div>
            Načítava sa
        </div>
    }@else{
        <div class="manage-statuses-dialog-content">
          <div class="status-form">
            <form [formGroup]="statusForm" (ngSubmit)="addOrderStatus()">
                <div class="field">
                    <label class="form-label" for="statusName">Zadajte názov stavu*</label>
                    <input class="form-control" id="statusName" type="text" formControlName="statusName" placeholder="Zadajte názov stavu" [ngClass]="{'is-invalid': statusForm.get('statusName').invalid && statusForm.get('statusName').touched}" maxlength="50">
                    <p class="char-count" *ngIf="statusForm.get('statusName')?.value">
                        {{ statusForm.get('statusName')?.value?.length || 0 }}/50 písmen
                    </p>
                </div>
                <div class="field">
                    <label class="form-label" for="statusColor">Zadajte farbu pre stav*</label>
                    <input class="form-control status-color" id="statusColor" type="color" formControlName="statusColor" [ngClass]="{'is-invalid': statusForm.get('statusColor').invalid && statusForm.get('statusColor').touched}">
                </div>
                <div class="field">
                    <p>
                        <strong>Poznámka:</strong> Nový stav sa automaticky pridá na koniec zoznamu. Po zatvorení dialógu môžete poradie upraviť.<br><br>
                        Stavy označené hviezdičkou (*) sú preddefinované a nie je možné ich zmazať ani upraviť ich názov.
                    </p>
                </div>
                <div class="submit">
                    @if(editingOrderStatusId !== null){
                        <button type="submit" class="btn btn-success"><img src="../../assets/Images/save-icon.png" alt="save-icon"> Uložiť zmeny</button>
                    }@else{
                        <button type="submit" class="btn btn-success">Pridať stav</button>
                    }
                </div>
            </form>
        </div>
        <div class="order-status-content">
            <div class="order-status-grid">
                <div class="order-status-tile" *ngFor="let status of paginatedStatuses" [style.border-left]=" '10px solid ' + status.statusColor">
                    <p>{{ status.statusName }}<span *ngIf="[
                        'Nezpracované - nová objednávka',
                        'Zasielanie čísla zásielky',
                        'Dobierka - Info k objednávke (poslať e-mail)',
                        'Objednávka stornovaná',
                        'Oprava objednávky',
                        'Rozbité, zničené, vrátené',
                        'Neznáma príčina'
                    ].includes(status.statusName)"> *</span></p>
                    <div class="dropdown-container">
                        <span class="three-dots-icon">
                            <img src="../../assets/Images/three-dots-icon.png" alt="three-dots-icon">
                        </span> 
                        <div class="dropdown-menu">
                            <button type="button" (click)="editOrderStatus(status)"><img src="../../assets/Images/edit-icon.png" alt="edit-icon"> Upraviť stav</button>
                            <button type="button" *ngIf="![
                                'Nezpracované - nová objednávka',
                                'Zasielanie čísla zásielky',
                                'Dobierka - Info k objednávke (poslať e-mail)',
                                'Objednávka stornovaná',
                                'Oprava objednávky',
                                'Rozbité, zničené, vrátené',
                                'Neznáma príčina'
                            ].includes(status.statusName)"
                            (click)="deleteOrderStatus(status.statusId)"><img src="../../assets/Images/bin-icon.png" alt="bin-icon">Vymazať stav</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <mat-paginator class="custom-paginator" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
    }
</div>