<title>Objednávky</title>
<div class="orders-page-component">
  <div class="title">
    <div class="title-container-1">
      <h2>Prehľad objednávok</h2>
      <p>{{currentDate}}</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['/order-form']">Vytvoriť objednávku</button>
  </div>
  <table class="orders-table">
    <thead>
      <tr>
        <th>Dátum</th>
        <th>Číslo objednávky</th>
        <th>Meno</th>
        <th>Stav objednávky</th>
        <th>Celková cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersData">
        <td>{{ order.orderDate }}</td>
        <td>{{ order.orderId }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.orderStatus }}</td>
        <td>0€</td>
      </tr>
    </tbody>
  </table>
</div>