<title>Objednávky</title>
<div class="orders-page-component">
  <div class="title">
    <div class="title-container-1">
      <h1>Prehľad objednávok a štatistík</h1>
      <p>{{currentDate}}</p>
    </div>
    <div class="button-container">
      <button class="btn btn-secondary" [routerLink]="['/products-page']">Moje produkty</button>
      <button class="btn btn-primary" [routerLink]="['/order-form']">Vytvoriť objednávku</button>
    </div>
  </div>
  <div class="title-charts">
    <h2>Štatistiky</h2>
  </div>
  <div class="charts-revenue-section">
    <div class="canvas-chart">
      <canvas #ordersStatusChart></canvas>
    </div>
    <div class="canvas-chart">
      <canvas #ordersDate></canvas>
    </div>
    <div class="canvas-chart">
      <canvas #revenueChart></canvas>
    </div>
    <div class="total-revenue">
      <h1>Celkový príjem:</h1><h1 class="total-revenue-part"> {{totalRevenue}}€</h1>
    </div>
  </div>
  @if(isLoading){
    <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
    </div>
  }@else{
    @if(selectedOrdersToCopy.length > 0){
      <div class="title-orders">
        <h2>Upravovací režim</h2>
      </div>
      <div class="copy-container">
        <div class="copy-button">
          <button class="btn btn-light" (click)="copySelectedOrders()">Skopírovať objednávku/y</button>
        </div>
      </div>
    }@else{
      <div class="title-orders">
        <h2>Objednávky</h2>
      </div>
      <div class="sorting-container">
        <div class="checkbox-dropdown-container">
          <div class="checkbox-dropdown">
            <button type="button" class="btn btn-light dropdown-button" (click)="toggleDropdown('status')">Zvoľte stavy objednávok pre filtráciu</button>
          </div>
          <div class="dropdown-content" [ngClass]="isVisibleCheckbox ? 'is-visible': 'is-not-visible'">
            <div class="checkbox-item" *ngFor="let status of statuses">
              <label class="checkbox-label">
                <input type="checkbox" class="form-check-input" id="checkbox" [value]="status" (change)="onCheckboxChange($event)" [checked]="selectedStatuses.includes(status)">
                {{status}}
              </label>
            </div>
          </div>
        </div>
        <div class="filter-date-container">
          <div class="filter-date-dropdown">
            <button type="button" class="btn btn-light filter-date-dropdown-btn" (click)="toggleDropdown('date')">Zvoľte spôsob filtrácie podľa dátumu</button>
          </div>
          <div class="dropdown-content" [ngClass]="isVisibleDateFilter ? 'is-visible': 'is-not-visible'">
            <div class="filter-date-field">
              <div class="filter-date-item" (click)="sortByDate('newest')">
                <span>Najnovšie</span>
              </div>
              <div class="filter-date-item" (click)="sortByDate('oldest')">
                <span>Najstaršie</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="search-bar">
      <input type="search" class="form-control" placeholder="Kliknite sem pre vyhľadávanie objednávok" [(ngModel)]="searchText" (input)="searchOrders()">
      <select class="form-control" [(ngModel)]="searchOption" (change)="searchOrders()">
        <option selected value="auto">Automatické vyhľadávanie</option>
        <option value="customerName">Vyhľadávanie podľa mena a priezviska</option>
        <option value="orderId">Vyhľadávanie podľa čísla objednávky</option>
        <option value="email">Vyhľadávanie podľa e-mailovej adresy</option>
        <option value="note">Vyhľadávanie podľa poznámky</option>
      </select>
    </div>
      @if(filteredOrders.length > 0){
      <table class="orders-table">
        <thead>
          <tr>
            <th style="width: 100px !important; text-align: center;">Zvoliť</th>
            <th>Dátum</th>
            <th>Číslo objednávky</th>
            <th>Meno</th>
            <th>Stav objednávky</th>
            <th>Celková cena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of ourFilteredOrders" class="order-row" (click)="navigateToDetails(order, $event)">
            <td class="checkbox-section"><input type="checkbox" class="form-check-input" [(ngModel)]="order.orderSelected" (change)="selectOrder()" data-skip-navigation /></td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.orderId }}</td>
            <td>{{ order.customerName }}</td>
            <td>{{ order.orderStatus }}</td>
            <td>{{ order.totalPrice }}€</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <mat-paginator [length]="totalItems" [pageSizeOptions]="[4, 6, 8]" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)" aria-label="Zvolte si stránku" showFirstLastButtons></mat-paginator>
      </div>
    }@else if(filteredOrders.length === 0 && ordersData.length > 0){
      <div class="no-orders-container">
        <h3>Neboli nájdené žiadne objednávky.</h3>
      </div>
    }
    @else{
      <div class="no-orders-container">
        <h3>Nemáte žiadne objednávky, kliknutím <span class="order-link" [routerLink]="['/order-form']">sem</span> si vytvorte objednávku.</h3>
      </div>
    }
  }
</div>