.order-form-component {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  font-weight: bold;
  color: #333;
  margin: 0;
}
h3 {
  text-align: center;
  font-weight: 600;
  color: #333;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.field,
.form-group {
  margin-bottom: 15px;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.create-invoice-btn {
  margin-top: 2.5px;
}
.submit {
  text-align: center;
  margin-top: 20px;
}
.no-products-selected,
.selected-products {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10px;
}
.selected-products-table {
  width: 100%;
}
.table-container {
  border-radius: 5px;
  overflow: hidden;
  width: 650px;
  border: 1px solid #ccc;
}
.selected-products-table td {
  padding: 10.5px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}
.cell-content {
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
  display: block;
  max-width: 400px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.selected-products-table tr:last-child td {
  border-bottom: none;
}
.remove-product {
  width: 40px !important;
}
.remove-product img {
  height: 10px;
  width: 10px;
  display: block;
  margin: 0 auto;
}
.remove-product:hover {
  cursor: pointer;
}
.product-amount-control-column {
  width: 100px;
  padding: 0;
}
.product-amount-control-column input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.product-amount-control {
  width: 100% !important;
  text-align: center !important;
  padding: 4px !important;
}
.add-icon {
  height: 15px;
  width: 15px;
}
.edit-icon {
  height: 20px;
  width: 20px;
  filter: invert(1) brightness(2);
}
.edit-products-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}
.edit-products-buttons button, .no-products-selected button {
  align-items: center;
  display: flex;  
  gap: 5px;
  flex-direction: row;
}
.edit-products-buttons button {
  margin-top: 10px;
}
.dialog-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.no-products-found {
  font-weight: normal;
  margin-top: 35px;
}
.customer-info,
.invoice-settings,
.products-delivery-payment-discount,
.order-status,
.order-summary,
.package-code {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.customer-info h3,
.invoice-settings h3,
.order-status h3,
.order-summary h3,
.products-delivery-payment-discount h3,
.package-code h3 {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.order-status h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.package-code .field{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.package-code .field input {
  flex: 0.75;
}
.package-code .field label {
  flex: 0.25;
  margin: 0;
}
.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  transition: border-color 0.2s ease;
}
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 5px #0d6efd;
  outline: none;
}
.products-delivery-payment-discount .form-control {
  width: 50%;
}
.discount-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.total-price {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  background-color: #0d6efd;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.total-price p {
  margin: 0;
}
.delivery-options-wrapper,
.payment-options-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.delivery-price p,
.payment-options-wrapper p,
.discount-input p {
  margin: 0 0 0 10px;
}
.delivery-price-container, .payment-cost-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin: 0 0 0 10px;
}
.delivery-price-container p, .payment-cost-container p {
  margin: 0;
}
.char-count {
  margin-top: 7.5px;
}
.order-status,
.order-summary,
.package-code {
  width: 100%;
  margin-top: 10px;
}
.order-status-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 12px;
  margin-top: 20px;
}
.order-status-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.order-status-buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.order-status-buttons img{
  height: 17px;
  width: 17px;
}
.order-status-buttons button:not(.is-editing) img { 
  filter: invert(1) brightness(2);
  height: 20px !important;
  width: 20px !important;
}
.order-status-tile {
  padding: 10px 14px;
  background-color: #f1f1f1;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 14px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1), box-shadow 100ms ease, background-color 0.2s ease-in-out, border 0.2s ease-in-out, font-weight 1ms ease-in-out;;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  &:hover { /*& je selektor co odkazuje na rodicovsky (order-status-tile)*/
    background-color: #e0e0e0;
  }
  &.selected {
    border-color: #0d6efd;
    font-weight: 600;
  }
}
.cdk-drag-preview {
  border-radius: 8px;
  border-color: #0d6efd;
  font-weight: bold;
  background-color: #e0e0e0;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.spinner-container {
  height: 100px !important;
}
.products-information {
  padding: 20px;
  width: 800px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.search input {
  flex: 0.65;
}
.search select {
  flex: 0.35;
}
.title-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title-submit h2 {
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.title-submit h2 img {
  height: 25px;
  width: 25px;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
  border-radius: 5px;
}
.products-table th {
  padding: 12px;
}
.products-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.products-table th {
  background-color: #0d6efd;
  font-weight: bold;
  color: white;
}
.products-table td {
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}
.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.product-row input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}
.product-row:hover td {
  background-color: #fbfbfb;
  cursor: pointer;
}
.no-products-selected {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.no-products-selected p {
  margin: 0;
}
mat-paginator {
  background-color: #f2f2f2;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
}
.in-stock {
  color: green;
}
.out-of-stock {
  color: red;
}
/*Pre neplatné polia*/
.form-control.is-invalid {
  border-color: red !important;
}
.form-control.ng-invalid.ng-touched {
  border-color: red;
}
/*Pre platné polia*/
.form-control.ng-valid:not(:placeholder-shown):not([type="search"]):not(
    .product-amount-control
  ):not(.search-select) {
  border-color: #28a745;
}
