.order-form-component {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  font-weight: bold;
  color: #333;
  margin: 0 0 5px 0;
}
h3 {
  text-align: center;
  font-weight: 600;
  color: #333;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.field,
.form-group {
  margin-bottom: 15px;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.create-invoice-btn {
  margin-top: 2.5px;
}
.submit {
  text-align: center;
  margin-top: 20px;
}
.no-products-selected,
.selected-products {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10px;
}
.selected-products-table {
  width: 100%;
}
.table-container {
  border-radius: 5px;
  overflow: hidden;
  width: 650px;
  border: 1px solid #ccc;
}
.selected-products-table td {
  padding: 10.5px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}
.selected-products-table tr:last-child td {
  border-bottom: none;
}
.remove-product {
  width: 40px !important;
}
.remove-product img {
  height: 10px;
  width: 10px;
  display: block;
  margin: 0 auto;
}
.remove-product:hover {
  cursor: pointer;
}
.product-amount-control-column {
  width: 100px;
  padding: 0;
}
.product-amount-control-column input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.product-amount-control {
  width: 100% !important;
  text-align: center !important;
  padding: 4px !important;
}
.add-icon {
  height: 15px;
  width: 15px;
}
.edit-icon {
  height: 20px;
  width: 20px;
  filter: invert(1) brightness(2);
}
.edit-products-button button, .no-products-selected button {
  align-items: center;
  display: flex;  
  gap: 5px;
  flex-direction: row;
}
.edit-products-button button {
  margin-top: 10px;
}
.dialog-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.no-products-found {
  font-weight: normal;
  margin-top: 35px;
}
.customer-info,
.invoice-settings,
.products-delivery-payment-discount,
.order-status,
.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.customer-info h3,
.invoice-settings h3,
.order-status h3,
.order-summary h3,
.products-delivery-payment-discount h3 {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  transition: border-color 0.2s ease;
}
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 5px #0d6efd;
  outline: none;
}
.products-delivery-payment-discount .form-control {
  width: 50%;
}
.discount-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.total-price {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  background-color: #0d6efd;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.total-price p {
  margin: 0;
}
.delivery-options-wrapper,
.payment-options-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.delivery-price p,
.payment-options-wrapper p,
.discount-input p {
  margin: 0 0 0 10px;
}
.char-count {
  margin-top: 7.5px;
}
.order-status,
.order-summary {
  width: 100%;
  margin-top: 10px;
}
.order-status-groups {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 15px;
  margin-top: 10px;
}
fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}
.order-status label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}
.order-status label:hover {
  background-color: #f3f3f3;
}
.order-status div:not(.default-container) {
  margin: 3.5px 0 3.5px 0;
}
input[type="radio"] {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 3.5px;
  margin-left: 3.5px;
}
.default-status,
.order-summary-title-text {
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.default-status input {
  margin: 0;
}
.order-summary-parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 2px;
}
.order-summary-child-container {
  flex: 1 1 calc(25% - 20px);
  /* Zaberie približne 25% šírky s medzerou */
  min-width: 200px;
  box-sizing: border-box;
  border-radius: 5px;
}
.order-summary p {
  margin: 3.5px 0 3.5px 0;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.order-summary p strong {
  color: #333;
}
.spinner-container {
  height: 100px !important;
}
.products-information {
  padding: 20px;
  width: 800px;
}
.products-information input[type="search"] {
  margin-bottom: 10px;
}
.title-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title-submit h2 {
  margin: 0;
  font-weight: bold;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
  border-radius: 5px;
}
.products-table th {
  padding: 12px;
}
.products-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.products-table th {
  background-color: #0d6efd;
  font-weight: bold;
  color: white;
}
.products-table td {
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}
.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.product-row input[type="checkbox"] {
  height: 17px;
  width: 17px;
  margin-top: 2px;
}
.product-row:hover td {
  background-color: #fbfbfb;
  cursor: pointer;
}
.no-products-selected {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.no-products-selected p {
  margin: 0;
}
mat-paginator {
  background-color: #f2f2f2;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
}
/*Pre neplatné polia*/
.form-control.is-invalid {
  border-color: red !important;
}
.form-control.ng-invalid.ng-touched {
  border-color: red;
}
/*Pre platné polia*/
.form-control.ng-valid:not(:placeholder-shown):not([type="search"]):not(
    .product-amount-control
  ) {
  border-color: #28a745;
}
