<title>Vytvorenie objednávky</title>
<div class="order-form-component">
    <form class="order-form" [formGroup]="orderForm" id="selected-products-id">
      @if(isEditMode){
        <div class="title-date">
          <h1>Upraviť objednávku č. {{existingOrderId}}</h1>
          <p>{{currentDate}}</p>
      </div>
      }@else{
        <div class="title-date">
          <h1>Vytvoriť objednávku č. {{orderId}}</h1>
          <p>{{currentDate}}</p>
        </div>
      }
      @if(isLoading_edit){
        <div class="spinner-container">
          <div class="spinner">
          </div>
          Načítava sa
        </div>
      }@else{
        <div class="products-delivery-payment-discount">
          <h3>Výber produktov, spôsobu dopravy a platby</h3>
          <div class="form-group">
            <div class="product-display">
              @if(selectedProducts.length > 0){
                <label class="form-label">Zvolené produkty*</label>
                <div class="selected-products">
                  <div class="table-container">
                    <table class="selected-products-table">
                      <tr *ngFor="let product of selectedProducts" class="product-row">
                        <td>{{product.productName}}</td>
                        <td class="product-amount-control-column">
                          <input type="number" [(ngModel)]="product.productAmount" [ngModelOptions]="{standalone: true}" (change)="updateAmount(product.productId, product.productAmount)" value="1" min="1" class="form-control product-amount-control">
                        </td>
                        <td>{{product.productAmount * product.productPrice}}€</td>
                        <td class="remove-product" (click)="removeProduct(product.productId)"><img src="https://cdn-icons-png.flaticon.com/512/75/75519.png"></td>
                      </tr>
                    </table>
                  </div>
                  <div class="edit-products-button">
                    <button class="btn btn-primary" (click)="openDialog(selectProductsDialog, true)"><img src="../../assets/Images/edit-icon.png" alt="edit-icon" class="edit-icon"> Upraviť produkty</button>
                  </div>
                </div>
              }@else{
                <div class="no-products-selected">
                  <p>Nemáte vybraté žiadne produkty</p>
                  <button class="btn btn-primary" (click)="openDialog(selectProductsDialog, false)"><img src="../../assets/Images/add-icon.png" alt="add-icon" class="add-icon"> Pridať produkty</button>
                </div>
              }
            </div>
          </div>
            <div class="form-group">
                <label for="deliveryOptions" class="form-label">Spôsob dopravy*</label>
                <div class="delivery-options-wrapper">
                    <select formControlName="deliveryOption" id="deliveryOptions" class="form-control" [ngClass]="{'is-invalid': orderForm.get('deliveryOption').invalid && orderForm.get('deliveryOption').touched}" (change)="onDeliveryChange()">
                        <option disabled selected value="">Zvoliť možnosť</option>
                        <option value="Kuriér">Kuriér </option>
                        <option value="Osobný odber">Osobný odber</option>
                    </select>
                    <div class="delivery-price">
                      @if(orderForm.get('deliveryOption')?.value !== 'Kuriér'){
                        <p>0€</p>
                      }@else{
                        <div class="delivery-price-container">
                          <input formControlName="deliveryCost" type="number" class="form-control" min="0" step="0.10" (input)="recalculateTotalPrice()">
                          <p>€</p>
                        </div>
                      }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="paymentOptions" class="form-label">Spôsob platby*</label>
                <div class="payment-options-wrapper">
                    <select formControlName="paymentOption" id="paymentOptions" class="form-control" [ngClass]="{'is-invalid': orderForm.get('paymentOption').invalid && orderForm.get('paymentOption').touched}" (change)="onPaymentChange()">
                        <option disabled selected value="">Zvoliť možnosť</option>
                        <option value="Hotovosť">Dobierka</option>
                        <option value="Bankový prevod">Bankový prevod</option>
                        <option value="Osobný odber">Osobný odber</option>
                    </select>
                    <div class="payment-price">
                        @if(orderForm.get('paymentOption')?.value !== 'Hotovosť'){
                          <p>0€</p>
                        }@else{
                          <div class="payment-cost-container">
                            <input formControlName="paymentCost" type="number" class="form-control" min="0" step="0.10" (input)="recalculateTotalPrice()">
                            <p>€</p>
                          </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="discountAmount" class="form-label">Zľava (%)</label>
                <div class="discount-input">
                  <input formControlName="discountAmount" [value]="orderForm.get('discountAmount')?.value || ''" type="number" id="discountAmount" class="form-control" min="0" max="100" placeholder="Zadajte zľavu" [ngClass]="{'is-invalid': orderForm.get('discountAmount').invalid}">
                  <p>% (-0€)</p>
                </div>
            </div>
        </div>
        <div class="total-price">
            <p>CELKOM</p>
            <p>{{ totalPrice }}€</p>
        </div>
        <div class="form-grid">
        <div class="customer-info">
            <h3>Objednávateľ</h3>
            <div class="field">
                <label for="name" class="form-label">Meno a priezvisko*</label>
                <input formControlName="customerName" type="text" id="name" class="form-control" placeholder="Zadajte meno" [ngClass]="{'is-invalid': orderForm.get('customerName').invalid && orderForm.get('customerName').touched}">
            </div>
            <div class="field">
                <label for="company" class="form-label">Firma</label>
                <input formControlName="company" type="text" id="company" class="form-control" placeholder="Zadajte názov firmy" (input)="onCompanyChange($event, 'order')" (change)="onCompanyChange($event, 'order')">
            </div>
            <div class="field">
                <label for="ico" class="form-label">IČO* (povinné v prípade firmy)</label>
                <input formControlName="ico" type="text" id="ico" class="form-control" placeholder="Zadajte IČO" [ngClass]="{'is-invalid': orderForm.get('company').value?.trim().length > 0 && orderForm.get('ico').invalid && orderForm.get('ico').touched}">
            </div>
            <div class="field">
                <label for="dic" class="form-label">DIČ* (povinné v prípade firmy)</label>
                <input formControlName="dic" type="text" id="dic" class="form-control" placeholder="Zadajte DIČ" [ngClass]="{'is-invalid': orderForm.get('company').value?.trim().length > 0 && orderForm.get('dic').invalid && orderForm.get('dic').touched}">
            </div>
            <div class="field">
                <label for="icDph" class="form-label">IČ DPH (ak má firma)</label>
                <input formControlName="icDph" type="text" id="icDph" class="form-control" placeholder="Zadajte IČ DPH" [ngClass]="{'is-invalid': orderForm.get('icDph').invalid}">
            </div>
            <div class="field">
                <label for="address" class="form-label">Adresa*</label>
                <input formControlName="address" type="text" id="address" class="form-control" placeholder="Zadajte adresu" [ngClass]="{'is-invalid': orderForm.get('address').invalid && orderForm.get('address').touched}">
            </div>
            <div class="field">
                <label for="city" class="form-label">Mesto*</label>
                <input formControlName="city" type="text" id="city" class="form-control" placeholder="Zadajte mesto" [ngClass]="{'is-invalid': orderForm.get('city').invalid && orderForm.get('city').touched}">
            </div>
            <div class="field">
                <label for="postalCode" class="form-label">PSČ*</label>
                <input formControlName="postalCode" type="text" id="postalCode" class="form-control" placeholder="Zadajte PSČ" [ngClass]="{'is-invalid': orderForm.get('postalCode').invalid && orderForm.get('postalCode').touched}">
            </div>
            <div class="field">
                <label for="email" class="form-label">E-mailová adresa*</label>
                <input formControlName="email" type="email" id="email" class="form-control" placeholder="Zadajte e-mailovú adresu" [ngClass]="{'is-invalid': orderForm.get('email').invalid && orderForm.get('email').touched}">
            </div>
            <div class="field">
                <label for="phoneNumber" class="form-label">Telefónne číslo*</label>
                <input formControlName="phoneNumber" type="text" id="phoneNumber" class="form-control" placeholder="Zadajte telefónne číslo" [ngClass]="{'is-invalid': orderForm.get('phoneNumber').invalid && orderForm.get('phoneNumber').touched}">
            </div>
            <div class="field">
                <label for="note" class="form-label">Poznámka</label>
                <textarea formControlName="note" name="note" id="note" class="form-control" placeholder="Napíšte poznámku" minlength="0" maxlength="250" [(ngModel)]="userMessage" (input)="update()"></textarea>
                @if(userMessage.length > 0){
                    <div class="char-count">{{ charactersCount }} / 250 písmen</div>
                }
                @else{
                    
                }
            </div>
        </div>
        <div class="invoice-settings">
            <h3>Nastavenia faktúry</h3>
            <form [formGroup]="invoiceForm" (ngSubmit)="createInvoice()">
              <div class="field">
                <label for="invoiceNumber" class="form-label">Číslo faktúry* (automaticky vyplnené z č. objednávky)</label>
                <input type="number" id="invoiceNumber" class="form-control" value="{{orderId}}" readonly placeholder="Zadajte číslo faktúry" formControlName="invoiceNumber" [ngClass]="{'is-invalid': invoiceForm.get('invoiceNumber').invalid && invoiceForm.get('invoiceNumber').touched}">
            </div>
            <div class="field">
                <label for="variableSymbol" class="form-label">Variabilný symbol* (Ak je iný ako číslo faktúry)</label>
                <input type="text" id="variableSymbol" class="form-control" value="{{orderId}}" placeholder="Zadajte variabilný symbol" formControlName="invoiceVariable" [ngClass]="{'is-invalid': invoiceForm.get('invoiceVariable').invalid && invoiceForm.get('invoiceVariable').touched}">
            </div>
            <div class="field">
                <label for="documentType">Typ dokladu*</label>
                <input id="documentType" class="form-control" value="Faktúra" readonly placeholder="Typ dokladu (Faktúra)">
            </div>
            <div class="field">
                <label for="invoiceIssueDate" class="form-label">Dátum vystavenia faktúry*</label>
                <input type="date" id="invoiceIssueDate" class="form-control" placeholder="Vyberte dátum splatnosti" formControlName="invoiceIssueDate">
            </div>
            <div class="field">
                <label for="dueDate" class="form-label">Dátum splatnosti*</label>
                <input type="date" id="dueDate" class="form-control" placeholder="Vyberte dátum splatnosti" formControlName="invoiceDueDate">
            </div>
            <div class="field">
                <label for="deliveryDate" class="form-label">Dátum dodania*</label>
                <input type="date" id="deliveryDate" class="form-control" placeholder="Vyberte dátum dodania" formControlName="invoiceDeliveryDate">
            </div>
            <div class="field">
              <label for="invoiceName" class="form-label">Meno a priezvisko*</label>
              <input type="text" id="invoiceName" class="form-control" placeholder="Zadajte meno a priezvisko na faktúre" formControlName="invoiceName" [ngClass]="{'is-invalid': invoiceForm.get('invoiceName').invalid && invoiceForm.get('invoiceName').touched}">
            </div>
            <div class="field">
              <label for="invoiceCompany" class="form-label">Firma</label>
              <input type="text" id="invoiceCompany" class="form-control" placeholder="Zadajte názov firmy na faktúre" formControlName="invoiceCompany" (input)="onCompanyChange($event, 'invoice')" (change)="onCompanyChange($event, 'invoice')">
            </div>
            <div class="field">
              <label for="invoiceICO" class="form-label">IČO* (povinné v prípade firmy)</label>
              <input type="text" id="invoiceICO" class="form-control" placeholder="Zadajte IČO" formControlName="invoiceICO" [ngClass]="{'is-invalid': invoiceForm.get('invoiceCompany').value?.trim().length > 0 && invoiceForm.get('invoiceICO').invalid && invoiceForm.get('invoiceICO').touched}">
            </div>
            <div class="field">
              <label for="invoiceDIC" class="form-label">DIČ* (povinné v prípade firmy)</label>
              <input type="text" id="invoiceDIC" class="form-control" placeholder="Zadajte DIČ" formControlName="invoiceDIC" [ngClass]="{'is-invalid': invoiceForm.get('invoiceCompany').value?.trim().length > 0 && invoiceForm.get('invoiceDIC').invalid && invoiceForm.get('invoiceDIC').touched}">
            </div>
            <div class="field">
              <label for="invoiceEmail" class="form-label">E-mailová adresa*</label>
              <input type="text" id="invoiceEmail" class="form-control" placeholder="Zadajte e-malovú adresu na faktúre" formControlName="invoiceEmail" [ngClass]="{'is-invalid': invoiceForm.get('invoiceEmail').invalid && invoiceForm.get('invoiceEmail').touched}">
            </div>
            <div class="field">
              <label for="invoicePhoneNumber" class="form-label">Telefónne číslo*</label>
              <input type="text" id="invoicePhoneNumber" class="form-control" placeholder="Zadajte telefónne číslo na faktúre" formControlName="invoicePhoneNumber" [ngClass]="{'is-invalid': invoiceForm.get('invoicePhoneNumber').invalid && invoiceForm.get('invoicePhoneNumber').touched}">
            </div>
            <div class="field">
              <p>Poznámka: Faktúra bude automaticky vygenerovaná pri odoslaní objednávky. Toto tlačidlo slúži na jej náhľad a kontrolu.</p>
              <button class="create-invoice-btn btn btn-primary" id="create-invoice-btn" (click)="createInvoice()">Vytvoriť faktúru</button>
            </div>
            </form>
        </div>
    </div>
    <div class="package-code">
      <h3>Podacie číslo objednávky</h3>
      <label for="packageCode" class="form-label">Podacie číslo vašej objednávky (Pošta)*</label>
         <div class="field">
            <input formControlName="packageCode" type="text" id="packageCode" class="form-control" placeholder="Zadajte podacie číslo o dĺžke 13 znakov a s dodržaním formátu (napr.: RR123456789SK)" maxlength="13" [ngClass]="{'is-invalid': orderForm.get('packageCode').invalid && orderForm.get('packageCode').touched}">
            <button class="btn btn-primary" (click)="checkPackageCode(orderForm.get('packageCode').value)">Skontrolovať</button>
         </div>
    </div>
    <div class="order-status">
      <h3>Stav objednávky</h3>
      <p class="default-status">
        Bez výberu objednávky je automaticky nastavený stav ako "Nezpracované - nová objednávka"!
      </p>
      <div class="order-status-grid">
        <div class="order-status-tile" *ngFor="let status of statuses"
           [class.selected]="orderForm.get('orderStatus')?.value === status"
           (click)="orderForm.get('orderStatus')?.setValue(status)">
          {{ status }}
    </div>
</div>
    </div>
    <!--<div class="order-summary">
      <div class="order-summary-container">
        <div class="order-summary-parent-container">
          <div class="order-summary-child-container">
            <h3>Objednávateľ</h3>
            <p><strong>Meno:</strong> {{ orderForm.get('customerName').value || 'Nezadané' }}</p>
            <p><strong>Firma:</strong> {{ orderForm.get('company').value || 'Nezadané' }}</p>
            <p><strong>IČO:</strong> {{ orderForm.get('ico').value || 'Nezadané' }}</p>
            <p><strong>DIČ:</strong> {{ orderForm.get('dic').value || 'Nezadané' }}</p>
            <p><strong>IČ DPH:</strong> {{ orderForm.get('icDph').value || 'Nezadané' }}</p>
            <p><strong>Adresa:</strong> {{ orderForm.get('address').value || 'Nezadané' }}, {{ orderForm.get('city').value || 'Nezadané' }}, {{ orderForm.get('postalCode').value || 'Nezadané' }}</p>
            <p><strong>E-mailová adresa:</strong> {{ orderForm.get('email').value || 'Nezadané' }}</p>
            <p><strong>Telefónne číslo:</strong> {{ orderForm.get('phoneNumber').value || 'Nezadané' }}</p> 
          </div>
          <div class="order-summary-child-container">
            <h3>Ďaľšie podrobnosti</h3>
            <p><strong>Spôsob dopravy:</strong> {{ orderForm.get('deliveryOption').value || 'Nezvolený' }}</p>
            <p><strong>Spôsob platby:</strong> {{ orderForm.get('paymentOption').value || 'Nezvolený' }}</p>
            <p><strong>Stav objednávky:</strong> {{ orderForm.get('orderStatus').value || 'Bez výberu' }}</p>
            <p><strong>Hmotnosť objednávky: </strong>0kg</p>
            <p><strong>Celkový počet produktov: </strong>0ks</p>
            <p><strong>Zľava:</strong> {{orderForm.get('discountAmount').value > 0 ? 'Áno (-' + orderForm.get('discountAmount').value + '%)' : 'Nie'}}</p>
            <p><strong>Poznámka:</strong> {{ orderForm.get('note').value ? orderForm.get('note').value : 'Nezadané' }}</p>
            <p><strong>Celková cena:</strong> 0€ (-{{orderForm.get('discountAmount').value || 0}}%)</p> 
          </div>
          <div class="order-summary-child-container">
            <h3>Dátumy a čísla faktúry</h3>
            <p><strong>Číslo faktúry:</strong> {{ invoiceForm.get('invoiceNumber').value || 'Nezadané' }}</p>
            <p><strong>Variabilný symbol:</strong> {{ invoiceForm.get('invoiceVariable').value || 'Nezadané' }}</p>
            <p><strong>Typ dokladu:</strong> Faktúra</p>
            <p><strong>Dátum vystavenia:</strong> {{ invoiceForm.get('invoiceIssueDate').value || 'Nezadané' }}</p>
            <p><strong>Dátum splatnosti:</strong> {{ invoiceForm.get('invoiceDueDate').value || 'Nezadané' }}</p>
            <p><strong>Dátum dodania:</strong> {{ invoiceForm.get('invoiceDeliveryDate').value || 'Nezadané' }}</p>
          </div>
          <div class="order-summary-child-container">
            <h3>Fakturačné údaje</h3>
            <p><strong>Meno a priezvisko na faktúre:</strong> {{ invoiceForm.get('invoiceName').value || 'Nezadané' }}</p>
            <p><strong>Firma na faktúre:</strong> {{ invoiceForm.get('invoiceCompany').value || 'Nezadané' }}</p>
            <p><strong>IČO na faktúre:</strong> {{ invoiceForm.get('invoiceICO').value || 'Nezadané' }}</p>
            <p><strong>DIČ na faktúre:</strong> {{ invoiceForm.get('invoiceDIC').value || 'Nezadané' }}</p>
            <p><strong>E-mailová adresa na faktúre:</strong> {{ invoiceForm.get('invoiceEmail').value || 'Nezadané' }}</p>
            <p><strong>Telefónne číslo na faktúre:</strong> {{ invoiceForm.get('invoicePhoneNumber').value || 'Nezadané' }}</p>
          </div>
        </div>
      </div>
    </div>-->
    @if(!isLoading){
      @if(isEditMode){
        <div class="submit">
          <button type="button" class="btn btn-primary save-button" (click)="updateOrder()"><img src="../../assets/Images/save-icon.png" height="17px" width="17px" alt="save-icon" style="margin: 0 5px 4px 0;">Uložiť zmeny</button>
        </div>
      }@else{
        <div class="submit">
          <button type="submit" class="btn btn-primary" (click)="submitOrder()">Vytvoriť objednávku</button>
        </div> 
      }
    }@else{
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
      </div>
    }
      }
    </form>
</div>
<ng-template #selectProductsDialog>
  <div class="products-information">
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
      </div>
    }@else{
      <div class="title-submit">
        <h2>Vaše zvolené produkty <img src="../../assets/Images/products-icon.png"></h2>
        <div class="dialog-button-container">
          <button class="btn btn-primary" (click)="confirmSelection()">Potvrdiť</button>
          <button class="btn btn-secondary" (click)="closeDialog()">Zavrieť okno</button>
        </div>
      </div>
      <input class="search-bar form-control" [(ngModel)]="searchText" type="search" placeholder="Kliknite sem pre vyhľadávanie" (ngModelChange)="searchProducts()">
      @if(sortedProducts.length === 0){
        <h3 class="no-products-found">Neboli nájdené žiadne produkty!</h3>
      }@else{
        <table class="products-table">
          <tbody>
            <tr>
              <th style="text-align: center;">Zvoliť</th>
              <th style="text-align: center;">Číslo produktu</th>
              <th>Kompletný názov produktu</th>
              <th style="text-align: center;">Cena/ks</th>
              <th style="text-align: center;">Stav</th>
              <th style="text-align: center;">Počet</th>
            </tr>
            <tr *ngFor="let product of ourSortedProducts" class="product-row">
              <td style="text-align: center; vertical-align: middle;"><input type="checkbox" class="form-check-input" [(ngModel)]="product.productSelected" (change)="toggleProductSelection(product)" [checked]="selectedProducts.includes(product)" ></td>
              <td style="text-align: center;">{{ product.productId }}</td>
              <td>{{ product.productName }}</td>
              <td style="width: 100px; text-align: center;">{{ product.productPrice }}€</td>
              <td style="text-align: center;" [ngClass]="product.stockAmount > 0 ? 'in-stock' : 'out-of-stock'">
                {{ product.stockAmount > 0 ? 'Na sklade' : 'Vypredané' }} 
              </td>
              <td style="text-align: center;">{{product.stockAmount}} ks</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container">
          <mat-paginator [length]="totalItems" [pageSizeOptions]="[4, 6]" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)" aria-label="Zvolte si stránku" showFirstLastButtons></mat-paginator>
        </div>
      }
    }
  </div>
</ng-template>