<title>Prihlásenie</title>
<div class="login-component">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítava sa
      </div>
    }@else{
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" class="user-icon">
      <h1>Prihlásiť sa</h1>
      <div class="field">
        <label class="form-label">E-mailová adresa*</label><br>
        <input class="form-control" type="email" placeholder="Zadajte e-mailovú adresu" formControlName="email" [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
      </div>
      <div class="field">
        <label class="form-label">Heslo*</label><br>
        <input class="form-control" type="password" placeholder="Zadajte heslo" formControlName="password" [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
      </div>
      <div class="re-captcha">
        <re-captcha #captchaRef *ngIf="siteKey" [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)"></re-captcha>
      </div>
      <div [ngClass]="isLogging ? 'isLogging' : 'notLogging'" class="information">
        <p>Prihlasuje sa, prosím čakajte...</p>
      </div>
      <div class="submit">
        <button type="submit" class="btn btn-secondary">Potvrdiť</button>
      </div>
    }
  </form>
</div>