<title>Produkty</title>
<div class="products-page-component">
  <div class="title">
    <div class="title-container-1">
      <h1>Prehľad produktov</h1>
      <p>{{currentDate}}</p>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" (click)="openDialog(createProductDialog)">Pridať produkt</button>
    </div>
  </div>
  @if(isLoading){
    <div class="spinner-container">
      <div class="spinner">
      </div>
      Načítava sa
    </div>
  }@else{
    <div class="sorting-container">
      <div class="alphabetical-dropdown-container">
        <div class="alphabetical-dropdown">
          <button type="button" class="btn btn-light dropdown-button" (click)="toggleDropdown('alphabetical')">Zvoľte filtráciu podľa abecedy</button>
        </div>
        <div class="dropdown-content" [ngClass]="isVisibleAlphabetical ? 'is-visible': 'is-not-visible'">
          <div class="alphabetical-field">
            <div class="alphabetical-item" (click)="sortProducts('alphabeticalAsc')">
              <span>Názov: A → Z</span>
            </div>
            <div class="alphabetical-item" (click)="sortProducts('alphabeticalDesc')">
              <span>Názov: Z → A</span>
            </div>
          </div>
        </div>
      </div>
      <div class="price-dropdown-container">
        <div class="price-dropdown">
          <button type="button" class="btn btn-light dropdown-button" (click)="toggleDropdown('price')">Zvoľte filtráciu podľa veľkosti ceny</button>
        </div>
        <div class="dropdown-content" [ngClass]="isVisiblePrice ? 'is-visible': 'is-not-visible'">
          <div class="price-field">
            <div class="price-item" (click)="sortProducts('priceAsc')">
              <span>Najdrahšie</span>
            </div>
            <div class="price-item" (click)="sortProducts('priceDesc')">
              <span>Najlacnejšie</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="producs">
      @if(productsData.length > 0){
        <table class="products-table">
          <thead>
            <tr>
              <th style="text-align: center;">Číslo produktu</th>
              <th>Názov produktu</th>
              <th style="text-align: center;">Cena produktu</th>
              <th style="text-align: center;">Hmotnosť produktu</th>
              <th>Vymazať</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts" class="product-row">
              <td style="width: 130px; text-align: center;">{{ product.productId }}</td>
              <td>{{ product.productName }}</td>
              <td style="width: 200px; text-align: center;">{{ product.productPrice }} €</td>
              <td style="width: 200px; text-align: center;">{{ product.productWeight }} kg</td>
              <td class="remove-column" title="Vymazať produkt" (click)="removeProduct(product.productId)"><img src="../../assets/Images/bin-icon.png" class="remove-icon"></td>
            </tr>
          </tbody>
        </table>
      }@else{
        <div class="no-products-container">
          <h3>Nemáte vytvorené žiadne produkty.</h3>
        </div>
      }
    </div>
  }
</div>
<ng-template #createProductDialog>
  <form class="product-form" [formGroup]="productForm">
    <div class="title-date">
        <h1>Vytvoriť nový produkt</h1>
        <p>{{currentDate}}</p>
    </div>
    <div class="product-info">
        <div class="field">
            <label for="product-name" class="form-label">Názov produktu*</label>
            <input type="text" formControlName="productName" id="product-name" class="form-control" placeholder="Zadajte názov produktu" [ngClass]="{'is-invalid': productForm.get('productName').invalid && productForm.get('productName').touched}">
        </div>
        <div class="field">
            <label for="product-description" class="form-label">Popis produktu</label>
            <input type="text" formControlName="productDescription" id="product-description" class="form-control" placeholder="Zadajte popis produktu" [ngClass]="{'is-invalid': productForm.get('productDescription').invalid}">
        </div>
        <div class="field">
            <label for="product-price" class="form-label">Cena produktu za kus*</label>
            <div class="product-price">
              <input type="number" formControlName="productPrice" id="product-price" class="form-control" placeholder="Zadajte cenu produktu" [ngClass]="{'is-invalid': productForm.get('productPrice').invalid && productForm.get('productPrice').touched}">
              <p>€</p>
            </div>
        </div>
        <div class="field">
            <label for="product-weight" class="form-label">Hmotnosť produktu*</label>
            <div class="product-weight">
              <input type="number" formControlName="productWeight" id="product-weight" class="form-control" placeholder="Zadajte hmotnosť produktu" [ngClass]="{'is-invalid': productForm.get('productWeight').invalid && productForm.get('productWeight').touched}">
              <p>kg</p>
            </div>
        </div>
        @if(!isLoadingForm){
          <div class="submit">
            <button type="submit" class="btn btn-primary" (click)="createProduct()">Vytvoriť produkt</button>
          </div> 
        }@else{
          <div class="spinner-container" style="height: 100px;">
            <div class="spinner">
            </div>
            Načítava sa
          </div>
        }
    </div>
</form>
</ng-template>