.products-page-component {
  padding: 20px;
  max-width: 1400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}
.title-container-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.button-container button {
  align-items: center;
  display: flex;  
  gap: 5px;
  flex-direction: row;
}
.button-container button img {
  height: 15px;
  width: 15px;
}
.product-form{
  width: 525px;
  padding: 20px;
}
.field, .custom-field {
  margin-bottom: 10px;
}
.custom-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-code-container, .product-price-container {
  width: 100%;
}
.product-code-container input {
  width: 100%;
}
.submit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit button{
  margin-top: 5px;
}
.product-price, .product-weight, .stock-amount, .product-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.product-price p, .product-weight p, .stock-amount p{
  margin: 0;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
}
.products-table th {
  padding: 12px 6px 12px 6px;
  text-wrap: nowrap;
}
.products-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.products-table th {
  background-color: #084298;
  font-weight: bold;
  color: white;
}
.products-table td {
  background-color: #fff;
  white-space: nowrap;
  max-width: 300px;
}
.scrollable-cell {
  max-width: 300px;
  white-space: nowrap;
  overflow-x: auto;
  display: block;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.product-row:hover td{
  background-color: #fbfbfb;
  cursor: pointer;
}
.no-products-container{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.remove-column{
  width: 50px;
}
.remove-icon{
  filter: brightness(0%);
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}
.sorting-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.sorting-container button {
  align-items: center;
  display: flex;  
  gap: 5px;
  flex-direction: row;
}
.sorting-container button img {
  height: 20px;
  width: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 14px;
  gap: 10px;
}
.search-bar input {
  flex: 0.65;
}
.search-bar select {
  flex: 0.35;
}
.alphabetical-dropdown-container, .price-dropdown-container{
  max-width: 350px;
  position: relative;
  margin-bottom: 15px;
}
.dropdown-button {
  background-color: #f2f2f2;
  border: 1px solid #333;
}
.dropdown-content{
  background-color: #f2f2f2;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 10;
  border-width: 0px 1px 1px 1px;
  border: 1px solid #333;
}
.alphabetical-field, .price-field {
  border-radius: 5px;
}
.alphabetical-item, .price-item{
  padding: 8px;
  border-radius: 5px;
}
.alphabetical-item:hover, .price-item:hover{
  background-color: #fbfbfb;
  cursor: pointer;
}
.no-products-found-container {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.is-visible{
  display: block;
}
.is-not-visible{
  display: none;
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
mat-paginator {
  background-color: #f2f2f2;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
}
.stock-input-container, .product-code-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock-input, .product-code-input {
  width: 80px;
  padding: 3px;
  margin: 0;
}
.in-stock {
  color: green;
}
.out-of-stock {
  color: red;
}
/*Pre neplatné polia*/
.form-control.is-invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
.form-control.ng-invalid.ng-touched{
  border-color: red;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
}
/*Pre platné polia*/
.form-control.ng-valid:not(:placeholder-shown):not([type="search"]):not(select):not(.stock-input):not(.product-code-input) {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}
