html,
body {
  height: 100%;
}
body.default-layout {
  width: 1400px;
  margin: 0 auto;
}
body.login-layout {
  width: auto;
  max-width: unset;
  margin: 0;
}
input::placeholder {
  font-size: 15px;
}
.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  transition: all 0.15s ease;
}
.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 5px #198754;
  outline: none;
}
.btn-primary {
  background-color: #198754;
  border-color: #198754;
  color: #ffffff;
  transition: all 0.15s ease;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #146c43; 
  border-color: #146c43;
  color: #ffffff;
}
.btn-primary:active {
  background-color: #146c43 !important; 
  border-color: #146c43 !important;
  color: #ffffff !important;
}
.btn-light {
  border: 1px solid #333 !important;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  border: 1px solid #333 !important;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
.spinner {
  border: 6px solid white;
  border-top: 6px solid #198754;
  border-right: 6px solid #198754;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}