html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
input::placeholder {
  font-size: 15px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
.spinner {
  border: 6px solid white;
  border-top: 6px solid #0d6efd;
  border-right: 6px solid #0d6efd;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-snackbar {
  background-color: #323232 !important;
  color: #fff !important;
}

.custom-snackbar .mat-simple-snackbar-action {
  color: #ff4081 !important; 
}